<form method="post" action="">
    {% csrf_token %}
    Input company name: {{form.input}}
    <input type="submit" value="Search">
</form>
<a href="{% url 'dashboard' %}">Go back</a>
<br>
{% if not init %}
{% if not queryset %}
No information regarding this was found.
{% else %}
<table>
    <tr>
        <td>Student name</td>
        <td>Job role</td>
        <td>Job status</td>
        <td>Contact</td>
    </tr>
{% for query in queryset %}
    {% for q in query %}
    <tr>
        <td>{{ q.user.first_name }} {{ q.user.middle_name }} {{ q.user.last_name }}</td>
        <td>{{ q.job_role }}</td>
        <td>{% if q.employment_end_date%}Retired{% else %}Currently working{% endif %}</td>
        <td>{{ q.company.phone_number }}</td>
    </tr>
    {% endfor %}
{% endfor %}
</table>
{% endif %}
{% endif %}