{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="container-form">
        <div class="container-search-form-title">Search by major</div>
        <form class="container-search-form-body" method="post" action="">
        {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
        <button class="btn" type="submit">Search</button>
        </form>
{% if not init %}
{% if not queryset %}
<div class="form-footer">No information regarding this was found.</div>
{% else %}
<div class="container-form-title">Results</div>
    <table>
        <tr>
            <td>Company name</td>
            <td>Salary range</td>
            <td>Job role</td>
            <td>Industry</td>
        </tr>
    {% for query in queryset %}
        {% for q in query %}
        <tr>
            <td>{{ q.company }}</td>
            <td>{{ q.get_salary_range_display  }}</td>
            <td>{{ q.job_role }}</td>
            <td>{{ q.company.industry_type }}</td>
        </tr>
        {% endfor %}
    {% endfor %}
    </table>
{% endif %}
{% endif %}
    </div>
</div>
{% endblock %}