{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="container-form">
        <div class="container-form-title"> Log In</div>
        {% if invalid %}
        Incorrect username or password
        {% endif %}
        <form class="container-form-body" method="post" action="">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.email.label_tag }}</td>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            <button class="btn" type="submit" value="Login">Login</button>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
        <div class="form-footer-text">If you don't have an account, you can <a href="{% url 'signup' %}">register</a> here.</div>
    </div>
</div>
{% endblock %}