{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="container-form">
        <div class="container-form-title"> Sign Up</div>
        <form class="container-form-body" action="" method="post" novalidate>
            {% csrf_token %}
            {{ form.non_field_errors }}
            <table>
                <tr>
                    <td>{{ form.email.label_tag }}</td>
                    <td>{{ form.email }}</td>
                    <td>{{ form.email.errors }}</td>
                </tr>
                <tr>
                    <td>{{ form.role.label_tag }}</td>
                    <td>{{ form.role }}</td>
                    <td>{{ form.role.errors }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                    <td>{{ form.password.errors }}</td>
                </tr>
                 <tr>
                    <td>{{ form.confirm.label_tag }}</td>
                    <td>{{ form.confirm }}</td>
                    <td>{{ form.confirm.errors }}</td>
                </tr>
            </table>
            <button type="submit" class="btn">Sign Up</button>
        </form>
    <div class="form-footer-text">If you already have an account, you can <a href="{% url 'login' %}">log in</a> here.</div>
    </div>
</div>
{%endblock%}